<%- model_class = Discussion -%>
<div class="page-header">
  <h1>Themen
      <%= link_to "Alle Themen", discussions_path(), :class => 'btn btn-default', :remote => true %>
      <%= link_to "Offene Themen", discussions_path(state: "opened"), :class => 'btn btn-default', :remote => true %>
      <%= link_to "Geschlossene Themen", discussions_path(state: "closed"), :class => 'btn btn-default', :remote => true %>
      <%= link_to "Neues Thema erstellen", new_discussion_path, :class => 'btn btn-primary', :remote => true %>
  </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th>Beiträge</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @discussions.each do |discussion| %>
      <tr>
        <td><%= link_to discussion.title, discussion_path(discussion) %></td>
        <td><%= discussion.try(:user).try(:short_name) %></td>
        <td><%= tag_label(discussion.state, :success) %></td>
        <td><%= badge(discussion.articles.count, :warning) %> </td>
        <td><%= discussion.created_at.strftime("%d.%m.%Y %H:%M Uhr") %></td>
        <td><%= discussion.articles.try(:last).try(:updated_at).try(:strftime, "%d.%m.%Y %H:%M Uhr") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_discussion_path(discussion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      discussion_path(discussion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>