<%- model_class = Discussion -%>
<div class="page-header">
  <h1>Thema: <%= @discussion.title %>
    <div style="float:right">
      <%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span>"), vote_discussion_path(@discussion, :vote => "like") %>
      &nbsp;
      <%= link_to raw("<span class='glyphicon glyphicon-thumbs-down'></span>"), vote_discussion_path(@discussion, :vote => "dislike") %>
    </div>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Beschreibung:</strong></dt>
  <dd><%= raw(@discussion.description) %></dd>
  <dt><strong>Moderator:</strong></dt>
  <dd><%= @discussion.try(:user).try(:short_name) %></dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= tag_label(t(@discussion.state), :success) %></dd>
  <dt><strong>Schlagwörter:</strong></dt>
  <dd>
    <% @discussion.tag_list.each do |tag| %>
      <%= tag_label(tag, :default) %>
    <% end %>
  </dd>
  <dt><span class='glyphicon glyphicon-thumbs-up'></span></dt>
  <dd><%= @discussion.count_votes_up %>x</dd>
  <dt><span class='glyphicon glyphicon-thumbs-down'></span></dt>
  <dd><%= @discussion.count_votes_down %>x</dd>
</dl>

<% if @discussion.user == current_user || current_user.has_role?(:moderator, @discussion) || current_user.has_role?(:admin) %>
  <%= link_to "Thema bearbeiten", edit_discussion_path(@discussion), :class => 'btn btn-default' %>
  <% if @discussion.state == "opened" %>
    <%= link_to "Thema schließen", change_state_discussion_path(@discussion, :state => "closed"), :class => 'btn btn-default' %>
  <% else %>
    <%= link_to "Thema wieder öffnen", change_state_discussion_path(@discussion, :state => "opened"), :class => 'btn btn-default' %>
  <% end %>
<% end %>
<% if current_user.has_role?(:admin) %>
<%= link_to "Löschen",
              discussion_path(@discussion),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>

<%= link_to "Kommentar schreiben", new_discussion_article_path(@discussion), :class => 'btn btn-primary', :remote => true %>

<div>
  <h2>Kommentare</h2>

  <% @discussion.articles.each do |article| %>
    <div class="article_element well">
      <div class="row description">
        <div class="col-md-12">
          <%= raw(article.description) %>
        </div>
      </div>
      <div class="row meta_description text-muted">
        <div class="col-md-6 user">
          <%= article.user.short_name %>
        </div>
        <div class="col-md-6 date">
          <div style="float:right">
            erstellt am: <%= article.created_at.strftime("%d.%m.%y %H:%M Uhr") %>
            <span>&nbsp;&nbsp;</span>
            <% if @discussion.user == current_user || current_user.has_role?(:moderator, @discussion) || current_user.has_role?(:admin) || (article.user == current_user && (article.updated_at + 2.hours) > Time.now) %>
              <% if article.user == current_user && (article.updated_at + 2.hours) > Time.now  %>
                <% edit_text = "(noch #{((article.updated_at + 2.hours - Time.now)/60).to_i} Minuten)" %>
              <% else %>
                <% edit_text = "" %>
              <% end %>
              <%= link_to "bearbeiten #{edit_text}", edit_discussion_article_path(@discussion, article), :remote => true, :class => "btn btn-warning btn-xs" %><span>&nbsp;&nbsp;</span>
            <% end %>
            <%= link_to raw("<span class='glyphicon glyphicon-thumbs-up'></span>"), vote_discussion_article_path(@discussion, article, :vote => "like") %> <%= badge(article.count_votes_up, :primary) %>
            <span>&nbsp;&nbsp;</span>
            <%= link_to raw("<span class='glyphicon glyphicon-thumbs-down'></span>"), vote_discussion_article_path(@discussion, article, :vote => "dislike") %> <%= badge(article.count_votes_down, :primary) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>