<%- model_class = Discussion -%>
<div class="page-header">
  <h1>Discussion: <%= model_class.human_attribute_name(:title) %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @discussion.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @discussion.try(:user).try(:short_name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @discussion.state %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              discussions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_discussion_path(@discussion), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              discussion_path(@discussion),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<%= link_to t('.new', :default => t("helpers.links.new")), new_discussion_article_path(@discussion), :class => 'btn btn-primary', :remote => true %>

<div>
  <h2>Articles</h2>

  <% @discussion.articles.each do |article| %>
    <div class="article_element">
      <div class="row description">
        <div class="col-md-12">
          <%= article.description %>
        </div>
      </div>
      <div class="row meta_description">
        <div class="col-md-8 user">
          <%= article.user.short_name %>
        </div>
        <div class="col-md-4 date">
          <%= article.created_at.strftime("%d.%m.%Y %H:%M Uhr") %>
        </div>
      </div>
    </div>
  <% end %>

</div>