<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WEG Gounodstraße 47 - 57" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <%= render :partial => "layouts/navigation" %>

    <div id="header"></div>
    <div class="container">
      <div class="row">
        <% conent_width = (current_user.blank? || yield(:sidebar).present?) ? "col-lg-9" : "col-lg-12" %>
        <div class="<%= conent_width %>">
          <%= bootstrap_flash %>
          <div id="popup"></div>
          <%= yield %>
        </div>
        <% if current_user.blank? || yield(:sidebar).present? %>
          <div class="col-lg-3">
            <div class="well sidebar-nav">
              <% unless current_user %>
                <h3>Aktuelle Themen</h3>
                <div class="list-group">
                </div>
              <% else %>
                <%= yield(:sidebar) %>
              <% end %>
            </div><!--/.well -->
          </div><!--/span-->
        <% end %>

      </div><!--/row-->

      <footer>
        <p><%= link_to "Impressum", imprint_path() %> | &copy; WEG Gounodstraße 47 - 57 &nbsp; <%= Time.now.year %></p>
      </footer>

    </div> <!-- /container -->
    <%= render :partial => "layouts/google" %>
  </body>
</html>
